:root {
    --bgcolor: rgb(10, 10, 10);
    --fgcolor: rgb(40, 40, 40);
    --fg2color: rgb(80, 80, 80);
    --textcolor: rgb(200, 200, 200);
    --texthover: white;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
 
    overflow-x: hidden;
    overflow-y: hidden;
    
    font-style: aptos;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

p {
    color: var(--textcolor);
    font-size: 12px;
}

.Base-wrapper {
    flex: 1;
    width: 100%;
}