.navbar-root {
  border: 0px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  width: 100%;
  height: 5vh;
  margin-top: 0px;
  padding: 5px;
}

.navbar-title-icon {
  font-size: 32px;
}
