.nav-root {
    background-color: var(--bgcolor);
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px 10px;
    color: var(--textcolor);
}

.icon {
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.icon:hover {
    color: var(--texthover);
}

.links-root {
    display: flex;
    gap: 15px;
}

.links-root a {
    font-size: 12px;
    text-decoration: none;
    color: var(--textcolor);
}

.links-root a:hover {
    color: var(--texthover);
}